body{
  font-family: 'Arial';
  font-size: 18px;
}

#images{
  font-family: 'Arial';
  text-align:left;
  font-style: regular;
  letter-spacing: 0;
  line-height: 1.5em;
  text-decoration: none;
  word-spacing: 0;
}

#images a{
  margin:0px 20px;
  display:inline-block;
  height: 100%;
  text-decoration:none;
  color:black;
  font-family: 'Arial', serif;
  }

.caption {
  width: 200px;
  text-align: center;
}

@media screen and (max-width:480px) {
  #sidebar { display: none;}
}
