body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px; 
   margin: 0;
  padding: 0;
}

span:lang(ja) {
  font-family: sans-serif;
}
span:lang(cn) {
  font-family: sans-serif;
}

a {
  color: #000080;
}

div {
  width: 100%;
}

span {
  display: block;
}
.text-justify {
    text-align: justify;
}


@media only screen and (max-width: 480px) {
    #your_id {width:000px;height:000px;}
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
    #your_id {width:000px;height:000px;}
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
    #your_id {width:000px;height:000px;}
}
@media only screen and (min-width: 959px) {
    #your_id {width:000px;height:000px;}
}
