body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px; 
   margin: 0;
  padding: 0;
}

span:lang(ja) {
  font-family: sans-serif;
}
span:lang(cn) {
  font-family: sans-serif;
}

a {
  color: #000080;
}

div {
  width: 100%;
}

span {
  display: block;
}
.text-justify {
    text-align: justify;
}


@media (max-width: 978px) {
    .container {
      padding:100px;
      margin:10px;
    }

    body {
      padding-left:100px;
    }

   
}
