body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px; 
}

span:lang(ja) {
  font-family: sans-serif;
}
span:lang(cn) {
  font-family: sans-serif;
}

h4 {
  line-height: 2;
}

a {
  color: #000080;
}
